$primary-font: "Trebuchet MS", "Segoe UI", sans-serif;
$school-color: #2c3e50;
$lightGrey-color: #f3f5f7;
$blue-color4: #1f6fb2;
$blue-color2:#1E3A5F;
$petrol-blue-color: #2F5D73;
$soft-gold-color: #C8A95B;
$navbar-bg: #1F2F46;
$logo-gold: #D4AF37;
$menu-text: #F8FAFC;
$hover-gold: #E0BE62;
$blueGraident:linear-gradient(0deg, #162033 0%, #1E2E45 35%, #1F3A5A 70%, #2B557D 100%);

$slide-text-color: rgba(0, 0, 0, 0.7);
$slide-caption-color: #817e7e;