$primary-font: "Trebuchet MS", "Segoe UI", sans-serif;
$school-color: #2c3e50;
$lightGrey-color: #f3f5f7;
$blue-color4: #1f6fb2;
$blue-color2:#1E3A5F;
$petrol-blue-color: #2F5D73;
$soft-gold-color: #C8A95B;
$navbar-bg: #1F2F46;
$logo-gold: #D4AF37;
$menu-text: #F8FAFC;
$hover-gold: #E0BE62;